<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Parque da Jaqueira</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-slides pager="true">
        <ion-slide>
          <ion-img src="https://media-cdn.tripadvisor.com/media/photo-s/05/cc/2a/24/lindo.jpg"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="http://photos.wikimapia.org/p/00/01/48/23/41_big.jpg"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://i.pinimg.com/originals/71/14/c7/7114c7f1f5764ac1e0f4250191c465e3.jpg"></ion-img>
        </ion-slide>
      </ion-slides>      
    </ion-card-header>
    <ion-card-content>
      O PARQUE
Localizado na Zona Norte do Recife, em uma área repleta de opções de serviços, o entorno do Parque da Jaqueira também tem muito a oferecer. Os freqüentadores têm a sua disposição, por exemplo, o Cais da Jaqueira, livrarias, academias de ginásticas, galerias, lanchonetes, restaurantes e hospitais.
Área completa voltada para lazer e prática de esportes Banheiros públicos feminino, masculino, infantil e para pessoas com mobilidade reduzida Estacionamento público com capacidade para 140 veículos Segurança realizada por um efetivo da Guarda Municipal e com o apoio de seis câmeras de videomonitoramento.
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-tem>
      
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label> Endereço </ion-label>
      <ion-button fill="outline" href="https://www.google.com/maps/place/Parque+da+Jaqueira/@-8.0370774,-34.9070343,17z/data=!3m1!4b1!4m5!3m4!1s0x7ab18ff84b1ad69:0xba959d4f90080b74!8m2!3d-8.0370774!4d-34.9048456" target="_blank"> Ver no mapa </ion-button>
    </ion-tem>
    <ion-card-content>
      Endereço: R. do Futuro, s/n - Graças, Recife - PE, 52050-010
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="time-outline" slot="start"></ion-icon>
    <ion-label>Horário de Funcionamento</ion-label>
  </ion-item>
  <ion-card-content>
    Diariamente: das 4h às 22h
    Funcionamento do escritório administrativo:
    Segunda a sexta: das 7h às 16h
    Sábado e domingo: das 8h às 12h / das 14h às 16h
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-item>
    <ion-icon name="wifi" slot="start"></ion-icon>
    <ion-label> Internet Livre </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="happy-outline" slot="start"></ion-icon>
    <ion-label> Parquinhos </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="bicycle" slot="start"></ion-icon>
    <ion-label> Pista de Bicicleta </ion-label>
  </ion-item>
</ion-card>
</ion-content>
