<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">
      Conheça o Recife
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-img src="assets/img/recife.png"></ion-img>
      <ion-card-title>Amo meu Recife</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-justify"> 
      Capital do Estado de Pernambuco, a cidade do Recife também é conhecida como a Veneza Brasileira,
      pois sua paisagem é cortada por rios, canais e pontes que ligam um bairro ao outro. ... CASA DA CULTURA - A Casa da Cultura é a antiga Casa de Detenção do Recife, 
      construída no século XIX.
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header>
      
      <ion-card-title>Seguementos</ion-card-title>
    </ion-card-header>

    <ion-item href="http://www.setur.pe.gov.br/web/setur" class="ion-activated">
      <ion-icon name="leaf" slot="start"></ion-icon>
      <ion-label>Agroturismo</ion-label>
    </ion-item>
  
    <ion-item href="http://www.setur.pe.gov.br/web/setur">
      <ion-icon name="bicycle" slot="start"></ion-icon>
      <ion-label>Aventura</ion-label>
    </ion-item>
  
    <ion-item  href="http://jardimbotanico.recife.pe.gov.br/pt-br" class="ion-activated">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Ecoturismo</ion-label>
    </ion-item>
  
    <ion-item href="http://parquedajaqueira.recife.pe.gov.br/" class="ion-activated">      
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Parques</ion-label>
    </ion-item>

    <ion-item href="#" class="ion-activated">
      <ion-icon name="sunny" slot="start"></ion-icon>
      <ion-label>Sol e Praias</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
